In [83]:
import os
import pandas as pd

In [84]:
DATA_DIRS = ('./data/almora/almora/', 
             './data/badrinath-20200601T074712Z-001/badrinath/', 
             './data/Udham-Singh-Nagar-District-20200601T074828Z-001/Udham-Singh-Nagar-District/',
             './data/uttarkashi-20200601T115810Z-001/uttarkashi/',
             './data/bageshwar/bageshwar/',
             './data/kangra-20200602T051007Z-001/kangra/',
             './data/kinnaur-20200602T051105Z-001/kinnaur/',
             './data/ladakh-20200602T051133Z-001/ladakh/',
             './data/joshimath-20200601T074052Z-001/joshimath/',
             './data/champawat-20200601T115651Z-001/champawat/',
             './data/shimla-20200602T051513Z-001/shimla/',
             './data/pithoragarh/pithoragarh/',
             './data/rudraprayag-20200602T051459Z-001/rudraprayag/',
             './data/haridwar-20200601T120022Z-001/haridwar/',
             './data/mandi-20200602T051403Z-001/mandi/',
             './data/tehri-gharwal-20200601T073409Z-001/tehri-gharwal/',
             './data/pauri-garhwal-20200601T115802Z-001/pauri-garhwal/',
             './data/rudraprayag-20200602T051459Z-001/rudraprayag/',
             './data/Chamoli-20200601T161834Z-001/Chamoli/',
             './data/lahul_spiti-20200602T051327Z-001/lahul_spiti/'
             )

In [85]:
files = set()
for i in DATA_DIRS:
    for j in os.listdir(i):
        files.add(i + j)
len(files)

1646

In [86]:
frames = []
for i in files:
    frame = pd.read_csv(i)
    try:
        frame['spot'] = [i[i.rindex('/')+1:i.rindex('-')]]*len(frame.index)
        frames.append(frame)
    except:
        print(i)

./data/pithoragarh/pithoragarh/hotels.txt
./data/almora/almora/hotels.txt
./data/bageshwar/bageshwar/hotels.txt

In [87]:
result_df = pd.concat(frames)

In [88]:
result_df = result_df[['location', 'review', 'name', 'userloc', 'rating', 'spot']]

In [92]:
result_df.tail()

,location,review,name,userloc,rating,spot
1808,mandi,Beautiful resort about 14km from Shimla. Love...,escholte,"Chilcompton, United Kingdom",50.0,Wildflower_Hall_An_Oberoi_Resort_Shimla
1809,mandi,An excellent hotel with excellent service. Th...,GlobalWorldTraveller,UK,50.0,Wildflower_Hall_An_Oberoi_Resort_Shimla
1810,mandi,Actually there's nothing i can say negative ab...,FellowTraveler24685,Gary,50.0,Wildflower_Hall_An_Oberoi_Resort_Shimla
1811,mandi,OIt is hard to find anything to complain about...,Ross R,"Hong Kong, China",50.0,Wildflower_Hall_An_Oberoi_Resort_Shimla
1812,mandi,A trully exceptional hotel. From the food to ...,WirralChris,"Wirral, UK",50.0,Wildflower_Hall_An_Oberoi_Resort_Shimla

In [90]:
result_df = result_df.dropna()

In [91]:
result_df.to_csv('./processed_data/review.csv', index=False)