In [59]:
import os
import pandas as pd

In [50]:
DATA_DIRS = ('./data/almora/almora/', 
             './data/badrinath-20200601T074712Z-001/badrinath/', 
             './data/Udham-Singh-Nagar-District-20200601T074828Z-001/Udham-Singh-Nagar-District/',
             './data/uttarkashi-20200601T115810Z-001/uttarkashi/',
             './data/bageshwar/bageshwar/',
             './data/kangra-20200602T051007Z-001/kangra/',
             './data/kinnaur-20200602T051105Z-001/kinnaur/',
             './data/ladakh-20200602T051133Z-001/ladakh/',
             './data/joshimath-20200601T074052Z-001/joshimath/',
             './data/champawat-20200601T115651Z-001/champawat/',
             './data/shimla-20200602T051513Z-001/shimla/',
             './data/pithoragarh/pithoragarh/',
             './data/rudraprayag-20200602T051459Z-001/rudraprayag/',
             './data/haridwar-20200601T120022Z-001/haridwar/',
             './data/mandi-20200602T051403Z-001/mandi/',
             './data/tehri-gharwal-20200601T073409Z-001/tehri-gharwal/',
             './data/pauri-garhwal-20200601T115802Z-001/pauri-garhwal/',
             './data/rudraprayag-20200602T051459Z-001/rudraprayag/',
             './data/Chamoli-20200601T161834Z-001/Chamoli/',
             './data/lahul_spiti-20200602T051327Z-001/lahul_spiti/'
             )

In [51]:
files = set()
for i in DATA_DIRS:
    for j in os.listdir(i):
        files.add(i + j)
len(files)

1646

In [52]:
frames = []
for i in files:
    frames.append(pd.read_csv(i))

In [53]:
result_df = pd.concat(frames)

In [54]:
result_df = result_df[['location', 'review', 'name', 'userloc', 'rating']]

In [55]:
result_df.head()

,location,review,name,userloc,rating
0,ladakh,"All tents here in Pangong are Good option, to ...",Rajesh S,NaN,30.0
1,ladakh,A basic tented camp located about 100m from th...,Mayur S,"Mumbai, India",40.0
2,ladakh,We stayed 1 night here to enjoy the beauty of ...,Saikat S,"Kolkata, India",50.0
3,ladakh,best Pangong view but in the night its chilly ...,Pratik J,NaN,30.0
4,ladakh,A little away from the lake on a height. Gives...,indian302,"Hyderabad, India",40.0

In [56]:
result_df = result_df.dropna()

In [58]:
result_df.to_csv('./processed_data/review.csv', index=False)